@import '../../../styles/global.scss';

.button {
    display: inline-block;
	background-color: $main-accent-color;
	border-radius: 4px;
    padding: 0.5em 2em;
    border: none;
    color: $color-light;
    font-size: 1.1em;
}
.button-donate {
    display: inline-block;
    background-color: $analogous-color-two;
    border-radius: 2px;
    border: none;
    padding: 0.5em 2em;
    
    a {
        font-size: 1.1em;
    }
}
.button-donate-story {
    display: block; 
    width: 100%;
    padding: 0.8em 1.6em;
    background: $analogous-color-two;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    text-align: center;

    /* forces text not to wrap */
    white-space: nowrap;

    &:hover {
        background: $analogous-color-two-mono;
    }
}
.button-donate:hover {
    cursor: pointer;
    background-color: $analogous-color-two-mono;
}
.button:hover {
    cursor: pointer;
    background-color: $mono-accent-color;
}
.button-link {
    color: $color-light;
    text-decoration: none;
}