@import '../../../styles/global.scss';

.button {
    display: inline-block;
	background-color: $main-accent-color;
	border-radius: 2px;
    padding: 0.5em 2em;
    border: none;
    margin: 0 auto;
    // justify-self: center;
}
.button-donate {
    display: inline-block;
    background-color: $analogous-color-two;
    border-radius: 2px;
    border: none;
    padding: 0.5em 2em;
    
    a {
        font-size: 1.1em;
    }
}
.button-donate:hover {
    cursor: pointer;
    background-color: $analogous-color-two-mono;
}
.button:hover {
    cursor: pointer;
    background-color: $mono-accent-color;
}
.button-link {
    color: $color-light;
    text-decoration: none;
}