@import '../../styles/global.scss';

.dashboard-item {
    display: grid;
    grid-gap: 1em;
    width: 100%;
    h3, h4, p {
        text-align: left;
    }
}
.donation-row {
    display: grid;
    grid-gap: 0.5em;
    align-items: center;

    @media only screen and (min-width: 800px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
.row-more {
    height: 0.4em;
    width: 0.4em;
    justify-self: end;
    &:hover {
        cursor: pointer;
    }
}
.row-divider {
    background-color: #e8e8e8;
    height: 1px;
    width: 100%;
}

// [START saved card]
.saved-card-row {
    display: grid;
    grid-gap: 0.5em;
    align-items: center;

    @media only screen and (min-width: 800px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
// [END saved card] 

.dashboard-message {
    width: 100%;
    height: 10em;
    display: grid;
    justify-items: center;
    align-items: center;
}