// global styling begins
$main-accent-color: #299ecc;
$secondary-accent-color: #4f6edc;
$link-hover-color: #4fdcbe;
$sub-color:#a3a3a3;
$main-color: black;
$color-light: white;
$color-background: rgb(255, 255, 255);

html {
    background-color: $color-background;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, p {
    margin: 0;
    text-align: center;
    width: 100%;
}
ul {
    list-style-type: none;
}
a {
    text-shadow: none;
    text-decoration: none;
    background-image: none;
}
// global styling ends

// blog styling begins
.blog-container {
    width: 100%;
    height: 100%;
    max-width: 1140px;
    display: flex;
    flex-direction: column;
}
// blog styling ends

// home page styling begins
.index-container {
    display: grid;
	grid-gap: 8em;
    justify-items: center;
}
.hero-backdrop {
    height: 100vh;
	width: 100%;
}
.mission-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    h2, p {
        text-align: center;
    }
}
.clients-featured-container {
    max-width: 1120px;
    width: 100%;

    h2 {
        text-align: center;
    }
}
.clients-featured-content {
    display: grid;
	grid-gap: 4em;
    justify-items: center;
    
	@media only screen and (min-width: 600px) {
		grid-template-columns: 1fr 1fr;
	}

	@media only screen and (min-width: 960px) {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
// home page styling ends