// global styling begins
$main-accent-color: #299ecc;
$main-complement-color: #CC5729;
$main-sub-color: #E8E8E8;
$mono-accent-color: #4DB3DB;
$analogous-color-one: #294CCC;
$analogous-color-two: #29CCA9;
$analogous-color-two-mono: #4DDBBD;
$secondary-accent-color: #4f6edc;
$link-hover-color: #4fdcbe;
$sub-color: #9a9a9a;
$sub-color-monochromatic: #818181;
$main-color: black;
$color-light: white;
$color-background: rgb(255, 255, 255);

$color-status-success: #29CCA9;
$color-status-error: #e71d36;
$color-status-warning: #f77f00;

$color-grey-background-1: #EEF1F6;
$color-grey-background-2: #F7F7F7;
$color-grey-background-3: #F7F9FA;
$color-grey-background-4: #e3e8ef;

html, body {
    background-color: $color-background;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 3em;
}
h2 {
    font-size: 2.5em;
}
h3 {
    font-size: 2em;
}
h4 {
    font-size: 1.5em;
}
h5 {
    font-size: 1.25em;
}
p {
    font-size: 1.05em;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    text-align: center;
    width: 100%;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'alegreya sans', sans-serif;
}
p, a, label {
    font-family: 'open sans', sans-serif;
}
ul {
    list-style-type: none;
}
a {
    text-shadow: none;
    text-decoration: none;
    background-image: none;
}

// margin 
.m-top-sm {
    margin-top: 0.25rem;
}
.m-top-md {
    margin-top: 0.5rem;
}
.m-top-lg {
    margin-top: 0.75rem;
}
.m-top-xl {
    margin-top: 1rem;
}

.light-text {
    color: $color-light;
    margin: 2em auto;

    a {
        color: $main-accent-color;
    }
}
.page-link  {
	color: $main-accent-color;;
    text-decoration: none;
    @media only screen and (max-width: 800px) {
        text-align: center;
    }
}
.page-link:hover,
.page-link:active {
	color: $secondary-accent-color;
}
.page-container {
    margin-top: 5vh;
}
.page-body {
    display: grid;
}
.page-content-container {
    display: grid;
    grid-gap: 15em;
    justify-items: center;
    // padding-top: 3em;
}
.page-body-dashboard {
    display: grid;
    // grid-gap: 2em;
    justify-items: center;
}
.page-content {
    max-width: 1120px;
    display: grid;
    grid-gap: 15em;
    margin: 0 auto;
}
.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    h2, p {
        text-align: center;
        margin-bottom: 0.5em;
    }
    p {
        width: 75%;
        line-height: 1.625;
    }
}
.content-grid-one {
    display: grid;
    grid-template-columns: 0.15fr 1.5fr 0.15fr;
}
.content-grid-two {
    display: grid;
    max-width: 80vw;
    background-color: lightpink;
    @media only screen and (min-width: 960px) {
        grid-template-columns: 1fr 1fr;
    }
}
.content-container-two {
    display: grid;
    grid-gap: 5em;
    max-width: 1120px;
     h3, p {
        text-align: left;
    }

    @media only screen and (min-width: 960px) {
        grid-template-columns: 1fr 1fr;
    } 
}
.content-container-grid-two {
    display: grid;
    grid-gap: 8em;
    max-width: 80vw;
    h2, h3, p {
        text-align: left;
    }
    @media only screen and (min-width: 960px) {
        grid-template-columns: 1fr 1fr;
    } 
}
.content-element-two {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3 {
        margin-bottom: 0.5em;
    }
    
}
.content-element-three {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    h2, h3 {
        margin-bottom: 0.5em;
    }
    p {

        line-height: 1.750;
        margin-bottom: 1.5em;
    }
}
.content-container-three {
    display: grid;
    grid-gap: 5em;

    @media only screen and (min-width: 800px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
.content-card {
    display: flex;
    flex-direction: column;
    max-width: 20em;
    h4 {
        margin-bottom: 0.5em;
    }
    h4, p {
        text-align: left;
    }
}
.about-container {
    width: 100%;
    display: grid;
    grid-gap: 2em;
}
.about-row {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media only screen and (min-width: 800px) {
    flex-direction: row;
    justify-content: space-around;
  }
}
.about-card-fill {
  height: 10em;
  width: 10em;
  border-radius: 50%;
  overflow: hidden;
  background-color: lightskyblue;
}
.steps-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 90vw;
    margin: 0 auto;
}
.steps-row {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 5em 0;
    h3,
    p {
        text-align: center;
    }
    @media only screen and (min-width: 800px) {
        flex-direction: row;
        text-align: left;
        h3,
        p {
        text-align: left;
        }
    }
}
.reverse {
    @media only screen and (min-width: 800px) {
        flex-direction: row-reverse;
    }  
}
.steps-content-container {
    flex: 1;
    display: flex;
    margin-bottom: 1em;
}
.steps-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h3,
    p {
        margin-bottom: 1em;
    }
}
.steps-img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 5px;
    object-fit: fill;
}
.steps-fill {
    flex: 0.3;
}
.steps-fill-responsive {
    @media only screen and (max-width: 800px) {
        flex: 0.3;
    }
}
// global styling ends

// [START donor profile styling]
.donor-profile-panel {
    width: 100%;
    display: grid;
    grid-gap: 5em;
}
// [END donor profile styling

// [START dashboard]
.dashboard-bg-grey {
    background-color: $color-grey-background-3;
    width: 100%;
    height: 100%;
}
.dashboard-component {
    display: grid;
    width: 100%;
    grid-gap: 5em;
    padding-top: 3em;
    padding-bottom: 5em;
    max-width: 1220px;
    margin: 6em auto 0 auto;
    
    @media only screen and (min-width: 960px) {
        grid-template-columns: 1fr 2fr 0.15fr;
        grid-gap: 0;
    }
}
.dashboard-body {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 0 1fr 0;
    @media only screen and (max-width: 960px) {
        grid-template-columns: 0.1fr 2fr 0.1fr;
    }
}
.dashboard-head {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 0.25fr 1.5fr 0.25fr;
    @media only screen and (max-width: 960px) {
        grid-template-columns: 1fr 1.5fr 1fr;
    }
}
.profile-pic-filler {
    height: 10em;
  width: 10em;
  border-radius: 50%;
  overflow: hidden;
  background-color: lightskyblue;
}

// [END dashboard]

// blog styling begins
.blog-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 11em;
}
.blog-subtext {
    margin: 1em 0 5em 0;
    text-align: center;
}
// blog styling ends

// home page styling begins
.hero-backdrop {
    height: 100vh;
	width: 100%;
}
.container-three {
    max-width: 90vw;
    width: 100%;

    h2 {
        text-align: center;
        margin-bottom: 2em;
    }
}
.container-four {
    width: 100%;
    max-width: 1120px;
    h2 {
        text-align: center;
    }
}
.container-head {
    margin-top: 10em;
    margin-bottom: 2em;
}
.container-clients {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @media only screen and (min-width: 960px) {
        flex-direction: row;
    }
}
.admin-container-clients {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;

    @media only screen and (max-width: 800px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (max-width: 520px) {
        grid-template-columns: 1fr;
        justify-items: center;
    }
}
.content-three {
    display: grid;
	grid-gap: 4em;
    justify-items: center;
    
	@media only screen and (min-width: 700px) {
		grid-template-columns: 1fr 1fr;
	}

	@media only screen and (min-width: 960px) {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
.newsletter-container {
    width: 100%;
    display: grid;
    grid-gap: 3em;
    background-color: black;
    padding: 5em 0;
    h2,
    p {
        color: white;
        text-align: center;
    }
    @media only screen and (min-width: 600px) {
        grid-template-columns: 0.5fr 1fr 2fr 0.5fr;
        text-align: left;
    }
}
.newsletter-text {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1.5em;
}
.newsletter-form-container {
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1.5em;

    p {
        text-align: center;
        margin-bottom: 3em;
    }

    @media only screen and (min-width: 600px) {
        p {
        text-align: left;
        }
        align-items: flex-start;
    }
}
.newsletter-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 90%;
    input {
        flex: 2;
        padding: 0.5em;
        border: solid 1px #e1e5e9;
        border-radius: 3px;
        font-size: 1em;

        &:focus {
            outline: none !important;
            border: 1px solid #299ecc;
            box-shadow: 0 0 10px #719ece;
        }
    }
}
.newsletter-submit {
    flex: 0.6;
    margin-left: 1em;

    input[type='submit'] {
        font-size: 1em;
        color: white;
    }
}
// home page styling ends

// add client, add donor page styling begins
.success-message, .error-message {
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
    width: 100%;
    margin-top: 1.5em;
    color: green;
}
.error-message {
    color: red;
}
.form-field {
    margin-bottom: 2em;
}
// form styling
.form-layout-container {
    margin: 3em 0 10em 0;
}
.form-layout {
    width: 100%;
    max-width: 60%;
    display: grid;
    grid-gap: 2.5em;
    justify-items: center;
    padding-top: 8em;
    margin: 0 auto;

    @media only screen and (max-width: 768px) {
        max-width: 80%;
    }

    @media only screen and (max-width: 470px) {
        max-width: 100%;
        padding-top: 5em;
    }
}
.form-layout-admin {
    width: 100%;
    max-width: 70%;
    display: grid;
    grid-gap: 1.5em;
    margin: 10em auto;
}
.form-layout-crowdfund {
    display: grid;
    grid-gap: 2em;
}
.form-header {
    display: flex;
	flex-direction: column;
    align-items: center;

    p {
        margin: 1.5em 1em 0 1em;
        text-align: center;
    }
}
.form-header-crowdfund {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h4, p {
        text-align: left;
    }
    h4 {
        margin-bottom: 0.5em;
    }
}
.form-container {
    width: 100%;
    display: grid;
    grid-template-columns: .25fr 2fr .25fr;
}
.form-container-crowdfund {
    width: 100%;
    display: grid;
}
.form-component {
    display: grid;
    grid-gap: 1.5em;
    h3, h5 {
        margin: 0;
        text-align: left;
        color: $sub-color;
    }
}
.form-modal {
    display: grid;
    grid-gap: 0.5em;
    
    h4 {
        text-align: left;
        color: $sub-color;
        margin-top: 0.5em;
    }
}
.form-modal-row-duo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5em;
}
.form-modal-title-color {
    color: $sub-color;
}
.form-modal-row {
    display: grid;
    grid-gap: 0.25em;
    h5, p {
        text-align: left;
    }
}
.form-modal-buttons {
    width: 100%;
    display: grid;
    grid-template-columns: 0.25fr 1fr 0.25fr 1fr 0.25fr;
    align-items: center;

    &:hover {
        cursor: pointer;
    }
}
.form-input-row-toggle {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 0.25fr;
}
.form-toggle-button {
    width: 2em;
    height: 2em;
}
.form-input-row {
    width: 100%;
    display: grid;
    grid-gap: 0.5em;
    // align-items: center;

    textarea {
        min-height: 5rem;
        resize: vertical;
        padding: 0.5em;
    }
}
.form-input-row-file {
    width: 100%;
    display: grid;
    grid-gap: 1em;

    @media only screen and (min-width: 800px) {
        grid-template-columns: 0.5fr 1fr;
    }
}
.two-input-row {
    width: 100%;
    display: grid;
    grid-gap: 1em;
    justify-items: start;


    @media only screen and (min-width: 800px) {
        grid-template-columns: 1fr 1fr;
    }
}
.three-input-row {
    width: 100%;
    display: grid;
    grid-gap: 1em;

    @media only screen and (min-width: 800px) {
        grid-template-columns: 1.5fr 0.25fr 0.25fr;
    }
}
.three-even-input-row {
    width: 100%;
    display: grid;
    grid-gap: 1em;

    @media only screen and (min-width: 800px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
.form-hr-row {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr .5fr 1fr;
    grid-gap: 0.5em;
    align-items: center;
    text-align: center;
    margin-top: 2em;

    hr {
        border: 0;
        height: 0;
        width: 100%;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
}
.form-submit-row {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
}
.form-submit-row-sm {
    display: grid;
    grid-template-columns: 0.1fr 1fr 0.1fr;
}
.form-submit-row-left {
    display: grid;
    grid-template-columns: 0.5fr 2fr;
}
.form-two-submit-row {
    display: grid;
    grid-template-columns: .5fr 1fr .5fr 1fr .5fr;
}
.two-input-row input, .form-input-row input, .form-input-row textarea, .form-input-row select, .comments-form-input {
    height: 2em;
    padding: .2em .5em;
    font-size: 1rem;
    border: 1px solid rgba(23, 23, 23, 0.2);
    border-radius: 3px;
}
.form-input-row textarea {
    padding: 0.5em;
}
#file-volunteer {
    padding: .5em .5em 0 .5em;
}
.form-client-container {
    display: grid;
    grid-gap: 1em;
    padding: 0 1em 1em 1em;
    h4 {
        margin: 0;
        text-align: left;
        color: $sub-color;
    }
}
.form-description-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5em;

    p {
        text-align: center;
        margin-bottom: 1em;
    }
}
.form-description-link {
    display: inline-block;
	text-decoration: none;
    font-weight: 800;
    color: $sub-color;
    
	&:hover {
        cursor: pointer;
        color: $sub-color-monochromatic;
	}
}

// switch styling
/* The switch - the box around the slider */
.switch-help {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch-help input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider-help {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider-help:before {
    border-radius: 50%;
}
.slider-help:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider-help {
  background-color: #299ecc;
}

input:focus + .slider-help {
  box-shadow: 0 0 1px #299ecc;
}

input:checked + .slider-help:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
// add client, add donor page styling ends

// [START general pages 404, successDonation ]
.page-message {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1120px;
    width: 100%;
}
.success-message-content {
    padding-top: 5em;
}
// [END general pages 404, successDonation ]

// [START faq styling]
.faq-container {
    display: grid;
    grid-gap: 1em;
    margin: 6em auto;
    max-width: 90vw;

    h1, h2, h3, h4, h5, h6, p {
        text-align: left;
    }

    @media only screen and (min-width: 1080px) {
        grid-template-columns: 0.5fr 1fr;
    }
}
.faq-header {
    display: flex;
    flex-direction: column;
    max-width: 90vw;
    margin: 0 auto;

    h1 {
        text-align: left;
    }

    @media only screen and (min-width: 1080px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}
.faq-header-info {
    flex: 1;
    display: grid;
    grid-gap: 0.5em;
    align-items: start;
    
    h1, p {
        text-align: left;
    }

    a {
        color: $main-color;
        &:hover {
            cursor: pointer;
            color: $main-accent-color;
        }
    }
}
.faq-header-spacing {
    flex: 0.3;
}
.faq-header-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    p {
        text-align: right;
    }
}
.faq-side-menu {
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: 1080px) {
        display: grid;
        grid-template-columns: 0.25fr 1fr 0.25fr;
    }
}
.side-menu-content {
    display: flex;
    flex-direction: column;
    h2 { margin-bottom: 0.5em; }
    a {
        text-decoration: none;
        color: #8c969b;
        &:hover {
            cursor: pointer;
        }
    }
    ul {
        list-style: none;
        padding: 0;
    }
    li {
        margin-top: 5px;
    }
    span {
        border: none;
        color: $sub-color;

        &:hover {
            cursor: pointer;
            color: $main-accent-color;
        }
        &:active {
            border: none;
            background-color: inherit;
        }
    }
}
.faq-content-container {
    display: grid;

    @media only screen and (max-width: 1080px) {
        grid-template-columns: 0.15fr 1fr 0.15fr;
    }
}
.faq-content {
    display: grid;
    grid-gap: 5em;
    h3 {
        margin-bottom: 0.5em;
    }
    li {
        margin-bottom: 0.5em
    }
}
.faq-content-row {
    display: flex;
    flex-direction: column;
    h2 { margin-bottom: 0.5em; }
}
.faq-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    p {
        text-align: left;
        line-height: 1.5;
    }
    a {
        text-decoration: none;
        color: $main-accent-color;
        &:hover {
            cursor: pointer;
        }
    }
}
.faq-section-text {
    margin-bottom: 1.5em;
}
.faq-button {
    position: fixed;
    bottom: 20px;
    left: 30px;
    z-index: 99;
    cursor: pointer;
    padding: 1;
}
// [END faq styling]

// [START resource page styling]
.resource-tabs {
    width: 100%;
    max-width: 1120px;
    height: 100%;
    margin: 0 auto;
}
.resource-panel {
    display: grid;
    grid-gap: 1em;
}
.resource-container {
    display: flex;
    flex-direction: column;
    
    ul {
        padding: 0;
        display: grid;
        grid-gap: 1.25em;
    }
    p, a {
        text-align: left;
    }
    a {
        text-decoration: none;
    }
    a:hover, a:active {
        color: $main-accent-color;
    }
}
// [END resource page styling]