@import '../../styles/global.scss';

// card metric home page begins
.card-metric-content {
    width: 10em;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
    align-content: center;

    h2, p {
        margin: 0;
        text-align: center;
        color: $color-light;
    }
    h2 {
        font-weight: 500;
    }
    p {
        font-weight: 100;
    }

     @media only screen and (max-width: 800px) {
         margin: 0.5em 0;
     }
}
// card metric home page ends

// card client featured begins
.card-featured-container {
	display: flex;
	flex-direction: column;
	min-width: 0;
	max-width: 80vw;
	word-wrap: break-word;
	/* border: 1px solid rgba(0, 0, 0, 0.125); */
	background-clip: border-box;
	/* border-radius: 0.25rem; */

	h3, h4, h5, h6, p {
		text-align: left;
	}
}
.featured-image-container {
	border-radius: calc(0.25rem - 1px);
	height: 15em;
}
.featured-info-container {
	display: flex;
	padding: 0.5em 0;
}
.featured-flex {
	flex: 0.1;
}
.featured-content {
	flex: 4;
	display: flex;
	flex-direction: column;
	color: black;
}
.featured-progress {
	margin: 1em 0;
}
.featured-status {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;

}
.status, .featured-bio {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	h3 {
		margin-top: 0.25em;
		margin-bottom: 0.5em;
	}
	h4 {
		margin-top: 0.5em;
	}
}

.raised {
    color: $main-accent-color;
	font-weight: 400;
}
.goal {
    color: $sub-color;
    font-weight: 400;
}
// card client featured ends

// card call to action begins
.card-call-to-action {
	display: flex;
	flex-direction: column;
	min-width: 20em;
	max-width: 80vw;
	word-wrap: break-word;
	background-clip: border-box;

	@media only screen and (min-width: 800px) {
		margin-top: 1.5em;
	}
}
.card-call-to-action-content-container {
    display: flex;
    flex-direction: row;
}
.card-spacer {
    flex: 0.1;
}
.card-call-to-action-content {
	display: grid;
    grid-gap: 0.2em;
    flex: 3;
    padding-top: 1em;

    h4, p {
		margin: 0.5em 0;
		text-align: left;
    }

}
.card-call-to-action-link {
	color: $main-accent-color;
    text-decoration: none;
}
.card-call-to-action-link:hover {
	cursor: pointer;
}

// card call to action ends

// blog card styling begins
.card-container {
    display: flex;
	flex-direction: column;
	max-width: 80vw;
}
.card-header {
	border-radius: calc(0.25rem - 1px);
}
.card-image {
	display: block;
	width: 100%;
	height: auto;
	border-radius: inherit;
}
.card-footer {
	margin-top: 1em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	// alter margins for 
}
.footer-left {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex: 1;

	p {
		margin-top: 0.1em;
	}
}
.footer-right {
	display: flex;
	flex-direction: column;
	flex: 1;
	align-items: flex-end;

	// force text to right
	h5, p {
		text-align: right;
	}
}
// blog card styling ends