@import '../../styles/global.scss';

.story-head {
    flex: 2;
    width: 100%;
	height: 100%;
	display: flex;
    flex-direction: column;
    margin-top: 7em;
    
	h1 {
        text-align: center;
        margin-bottom: 1em;
    }

    @media only screen and (max-width: 960px) {
        width: 75%;
        margin: 0 auto;
    }
}
.story-head-content {
    width: 100%;
    display: grid;
    grid-gap: 0.5em;
    
    @media only screen and (min-width: 960px) {
        grid-template-columns: 0.2fr 1fr 1fr 0.2fr;
    }
}
.head-image-container {
    flex: 1;
    border-radius: calc(0.25rem - 1px);
    display: grid;
    @media only screen and (max-width: 960px) {
        grid-template-columns: 0.25fr 1fr 0.25fr;
    }
}
.story-head-image {
    display: block;
    border-radius: inherit;
    margin: 0 auto;
}
.head-spacer {
    flex: 0.2;
}
.head-spacer-sm {
    flex: 0.1;
}
.head-info {
    flex: 1;
	display: flex;
	flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    h4, p { 
        text-align: left;
    }
    p {
        margin-top: 0.25em;
    }
}
.info-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    @media only screen and (max-width: 960px) {
        margin-top: 1.5em;
    }
}
.info-row {
    display: flex;
    width: 100%;
    border-radius: 4px;
    @media only screen and (max-width: 960px) {
        margin-top: 1.5em;
    }
}
.info-metric {
    flex: 1;
}
.interview-container {
    width: 100%;
    display: grid;
    grid-gap: 4em;
}
.interview-content {
    max-width: 85%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    p, h3, h2 {
        text-align: left;
    }
    p {
        margin-top: 0.5em;
    }
}
.raised {
    color: $main-accent-color;
}
.goal {
    color: $sub-color;
}
.story-social-icons {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 0.25em;
}
.icon-container {
    width: 2em;
    height: 2em;
    margin-right: 1.5em;
}