.story-head {
    flex: 2;
    width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	h1 {
		text-align: center;
    }

    @media only screen and (max-width: 960px) {
        width: 75%;
        margin: 0 auto;
    }
}
.story-head-content {
    width: 100%;
	display: flex;
	flex-direction: column;

	@media only screen and (min-width: 960px) {
		flex-direction: row;
		margin-top: 1em;
	}
}
.head-image-container {
    flex: 1;
	border-radius: calc(0.25rem - 1px);    
}
.story-head-image {
    display: block;
    // width: 50%;
    max-width: 15em;
	height: auto;
    border-radius: inherit;
    margin: 0 auto;
}
.head-spacer {
    flex: 0.2;
}
.head-info {
    flex: 1;
	display: flex;
	flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.info-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.info-row {
    display: flex;
    width: 100%;
}
.info-metric {
    flex: 1;
}
.interview-container {
    width: 100%;
    display: grid;
    grid-gap: 4em;
}
.interview-content {
    max-width: 85%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    p, h4, h2 {
        margin: 0;
        text-align: left;
    }
}