.blog-grid {
    display: grid;
	grid-gap: 4em;
	justify-items: center;

	@media only screen and (min-width: 600px) {
		grid-template-columns: 1fr 1fr;
	}

	@media only screen and (min-width: 960px) {
		grid-template-columns: 1fr 1fr 1fr;
	}
}