@import '../../styles/global.scss';

.blog-grid {
    display: grid;
	grid-gap: 4em;
	justify-items: center;

	@media only screen and (min-width: 600px) {
		grid-template-columns: 1fr 1fr;
	}

	@media only screen and (min-width: 960px) {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

// [START pagination]
.pagination {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 5em auto;
	max-width: 30em;
}
.pagination-icon {
	width: 2em;
    height: 2em;
    
    &:hover {
        cursor: pointer;
    }
}
.pagination-items ul {
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: space-around;
	width: 10em;
}

.pagination-items li {
	margin: 0;
}
.pagination-link {
	color: black;
	text-decoration: none;
}
.pagination-link:hover {
	color: $main-accent-color;
	cursor: pointer;
}
.pagination-active {
	color: $sub-color;
}
// [END pagination]