@import '../../styles/global.scss';

.resource-item {
    display: grid;
    grid-gap: 0.25em;
    align-items: start;
}
.resource-title {
    font-size: 1.1em;
    color: $main-color;
}
.resource-detail {
    color: $sub-color;
}
.resource-row {
    display: grid;
    grid-template-columns: 0.15fr 1.5fr;
}
.resource-icon {
    align-self: center;
}