@import '../../styles/global.scss';

.progress-bar {
    position: relative;
    height: 8px;
    width: 100%;
    border-radius: 50px;
    background-color: $main-sub-color;
}
.filler {
    background: $main-accent-color;
    height: 100%;
    border-radius: inherit;
    transition: width .2s ease-in
}